p,
a {
    color: black;
}

.searchReminder {
    width: 400px;
    border: 1.5px solid rgb(242, 242, 242);
    border-radius: 100px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter {
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px
}

.event-search-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.home-event-bg {
    background: linear-gradient(to bottom, #2E7DAF 0%, #23158c 100%);
    align-items: center;
    padding: 4%;
}

.home-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    color: #fff;
    overflow: scroll;
}

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.event-search-card {
    border: 1px solid #dee2e6;
    margin-bottom: 3%;
}

.card-body {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.eventContent {
    display: flex;
    justify-content: center;
    height: calc(100vh - 110px);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.eventContentL {
    width: 60%;
    padding:30px;
    height: calc(100vh - 130px);
    overflow: scroll;
}

.eventContentR {
    width:40%;
}

