h1, h2 {
    color: white;
    font-weight: 700;
}

.logo {
    height: calc(10vw*0.3)
}


.column {
    padding: 80px 10px 80px 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.column h1 {
    font-size: 40px;
    margin: 10px 0;
    font-weight: 700;
    padding-top: 11px;
    padding-bottom: 20px;
}

.explore {
    padding-top: 35px;
    color: #0065C9;
}

.container {
    padding-top: 50px;
}

.col {
    margin-bottom: 50px;
}

button {
    padding: 10px 20px;
    background-color:#F2F6FF;
    color: #2E7DAF;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 40px;
}

a .sc {
    color: black;
}

a .sc:hover {
    color: #2E7DAF;
}

.search-container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.search-inputs {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 5px;
}