body {
    background-color: white;
    font-family: "tempo", sans-serif;
}

h1, h2 {
    color: white;
    font-weight: 700;
}

.logo {
    height: calc(10vw*0.3)
}


.column {
    padding: 80px 10px 80px 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.column h1 {
    font-size: 40px;
    margin: 10px 0;
    font-weight: 700;
    padding-top: 11px;
    padding-bottom: 20px;
}

.explore {
    padding-top: 35px;
    color: #0065C9;
}

.container {
    padding-top: 50px;
}

.col {
    margin-bottom: 50px;
}
