.event-search {
    align-items: center;
}

.search-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

select {
    height: 5%;
}
