footer {
    position: "fixed";
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

a .ig, .fb .li{
    color: black;
    text-decoration: underline !important;
}
 
a .ig:hover, .fb:hover {
    color: #2E7DAF;
}

.footer-copyright {
    text-align: center;
}

.footer-links {
    text-align: center;
    margin-bottom: 10px;
}

.footer-social a {
    font-size: 1.5rem;
}