.connect {
    width: 200px;
    justify-content: end;
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 30px 60px;
}

.search {
    width: 200px;
    display: flex;
    justify-content: center;
}
