.connect {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.logo {
    height: 4rem;
    width: 150px;
    display:block;
    align-items: center;
}

.login, .logout {
    align-items: center;
    justify-content: space-between;
    margin-left: 2px;
    padding: 0 10px;
    border-radius: 20px;
}

.logins{
    padding: 0 10px;
    border-radius: 20px;
    align-items: center;
    width: 50px !important;
    margin-right: 5% !important;
}

