.connect {
    width: 200px;
    justify-content: end;
    align-items: center;
}

.banner {
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.logo {
    height: 40px;
    width: 150px;
    display:block;
    align-items: center;
}

